<!DOCTYPE html>
<html>
  <head>
    <title>Setlist Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>Setlist Generator</h1>
    <ul class="nav nav-tabs" id="navPane">
    	<li class="active"><a href="#songs" data-toggle="tab">Songs</a></li>
    	<li><a href="#properties" data-toggle="tab">Properties</a></li>
    	<li><a href="#constraints" data-toggle="tab">Constraints</a></li>
    </ul>

    <div class="row">        
        <div class="tab-content">
        	<div class="tab-pane active" id="songs">
                <div class="col-md-6 input-group">
                    <input type="text" id="song-name" class="form-control" placeholder="Song name, e.g. 'Stairway To Heaven'" autofocus="autofocus">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" type="button" id="add-song-button"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
                    </span>
                </div>
                <div class="col-md-6" id="songs-pane">
                    <ol id="songs-list">
                    </ol>
                </div>
            </div>
            <div class="tab-pane" id="properties">
        		<div class="col-md-6">
                    <div class="col-md-6">
                        <select class="form-control" id="song-name-selector">
                            <option disabled="true">Select a song</option>
                        </select>
                    </div>
                    <div class="col-md-6 input-group">
                        <input type="text" id="song-property" class="form-control" placeholder="Property, e.g. 'eightstring', 'cover', 'e-minor'">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" type="button" id="add-property-button"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6" id="properties-pane">
                    <ol id="properties-list">
                    </ol>
                </div>
        	</div>
        	<div class="tab-pane" id="constraints">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                </div>
        	</div>
            <div class="tab-pane" id="result">
            </div>
        </div>
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery-1.10.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Initially select first tab -->
    <script>
        songs = {};

    	$(function () {
    		$('#navPane a:first').tab('show');
    	});

        function addSong() {
            var songName = $("#song-name").val();
            $("#songs-list").append("<li>" + songName + "</li>");
            $("#song-name-selector").append("<option value='" + songName + "'>" + songName + "</option>");
            $("#song-name").val("");
            var song = new Object();
            song.title = songName;
            songs[song.title] = song;
        }

        function addProperty() {
            var songName = $("#song-name-selector").val();
            var songProperty = $("#song-property").val();
            $("#properties-list").append("<li>" + songName + ": " + songProperty + "</li>");
            $("#song-name-selector").prop('selectedIndex', 0);
            $("#song-property").val("");
            var song = songs[songName];
            song[songProperty] = true;
        }

        $("#song-name").keydown(function (e) {
            if (e.which == 13) {
                addSong();
            }
        });

        $("#song-property").keydown(function (e) {
            if (e.which == 13) {
                addProperty();
            }
        });

        $("#add-song-button").bind("click", addSong);
        $("#add-property-button").bind("click", addProperty);
    </script>
  </body>
</html>